.about-who{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: red;
}

.about-line{
    display: inline-block;
    width: 5rem;
    height: 0.3rem;
    background: red;
    margin:5px;
}
.project-wrapper{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
    flex-wrap: wrap;
    position:relative;
   
    
}

