.skills-card{
    width: 5rem;
    height: 5rem;
    /* background-color: #2b2b2b; */
    padding:20px;
    margin-bottom:30px;
    text-align: center;
   
}
.about-who{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: red;
}

.about-line{
    display: inline-block;
    width: 5rem;
    height: 0.3rem;
    background: red;
    margin:5px;
}

@media (max-width: 480px){
    .about-main{
        margin:0 auto;
    }
}