.about-who{
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: red;
}

.about-line{
    display: inline-block;
    width: 5rem;
    height: 0.3rem;
    background: red;
    margin:5px;
}
.about-me{
 font-style: normal;
font-weight: 700;
font-size: 1.4rem;
line-height: 1.9rem;
color: #fff;
margin-top: 1.6rem;
}
.about-title{
font-style: normal;
font-weight: 700;
font-size: 2.4rem;
line-height: 2.9rem;
color: #fff;
margin-top: 1.6rem;
}

@media (max-width: 767px) {
    .about-me{
       
       font-size: 1.2rem;
       margin:0;
    }
    .about-title{
        font-size: 1.4rem;
        margin:0;
    }
}
@media (max-width: 565px) {
    .about-me{
       line-height: 1.6rem;
       font-size: 1rem;
       margin:0;
    }
    .about-title{
        font-size: 1.4rem;
        margin:0;
    }
}
@media (max-width: 320px){
    
}