.header{
    background-color: #060709; 
    padding:10px;
    position: fixed;
    width: 100%;
    left:0;
    right:0;
    z-index:99;
}
.header-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links__item{
    text-decoration: none;
    margin-left:20px;
    color:white;
}


@media (max-width: 1199px) {
    .header{
        width: 98%;
    }
  
}

@media (max-width: 565px) {
    .header-links{
        display:none;
    }
  
}