

.intro__text{
   font-size:27px; 
}
.intro__text1{
    font-size: 75px;
    font-weight: 600;
    margin-left:-3px;
}
.intro__text2{
    font-size:40px;
    margin:5px 0;
}
.intro__text3{
    color:crimson;
    font-weight: 500px;
}
.intro__photo{
    width:300px;
}

@media (max-width: 991px) {
    .intro__text1{
        font-size: 68px;;
    }
    .intro__text2{
        font-size:35px;
   
    }
  
}
@media (max-width: 767px) {
    .intro__photo{
        width: 235px;
        height: 235px;
    }
    .intro__text1{
        font-size: 46px;;
    }
    .intro__text2{
        font-size:26px;
   
    }
  
}

@media (max-width: 565px) {
    .intro__photo{
        width: 200px;
        height: 200px;
    }
    .intro__text1{
        font-size: 36px;;
    }
    .intro__text2{
        font-size:22px;
   
    }
  
}
@media (max-width: 480px) {

   .intro__right{
    order:1;
    margin:0 auto;
       
   }  
   .intro__photo{
    width: 300px;
    height: 300px;
}
}