

.intro__text{
   font-size:27px; 
}
.intro__text1{
    font-size: 75px;
    font-weight: 600;
    margin-left:-3px;
}
.intro__text2{
    font-size:40px;
    margin:5px 0;
}
.intro__text3{
    color:crimson;
    font-weight: 500px;
}